.App {
  text-align: center;
}
.brewGuides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.brewguidescards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brewGuides button {
  height: 100px;
  width: 100px;
}

.past-cup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.past-cup button {
  height: 40px;
  width: 40px;
}

.coffeeOfTheMonth img {
  height: 120px;
}
