.App {
  text-align: center;
}
.brewGuides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.brewguidescards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brewGuides button {
  height: 100px;
  width: 100px;
  background-color: #6b0504;
}

.past-cup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.past-cup button {
  height: 40px;
  width: 40px;
}

.coffeeOfTheMonth img {
  height: 120px;
}

.featuredGuides button {
  height: 60px;
  background-color: #6b0504;
}

.navBar {
  height: 50px;
}

.aeropress {
  width: 100%;
}

.brew-guides {
  margin-top: 10px;
}

.brew-guides button {
  margin-top: 10px;
}

a:visited {
  color: #6b0504;
}

.data-main a {
  font-size: 25px;
}

.data-main p {
  font-size: 20px;
}
